<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fake ambient light sensor device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-ALS0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable discrete graphics card</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-DDGPU.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add DMAC device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-DMAC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add EC device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make fan quiet</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-FANQ.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix instant wake</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-GPRW.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable HPET device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-HPET.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add MCHC device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-MCHC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add MEM2 device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-MEM2.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add PMCR device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PMCR.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add PNLF device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Customize VoodooPS2Keyboard</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PS2K.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB power injection and customization</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-USB.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject plugin-type=1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-XCPM.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Add SBUS device</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SBUS.aml</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
			<dict>
				<key>All</key>
				<false/>
				<key>Comment</key>
				<string>Drop SSDT-XHC</string>
				<key>Enabled</key>
				<true/>
				<key>OemTableId</key>
				<data>
				</data>
				<key>TableLength</key>
				<integer>12565</integer>
				<key>TableSignature</key>
				<data>
				U1NEVA==
				</data>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Rename Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml (Instant Wake)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R1BSVwI=</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFBSVwI=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Rename MATH._STA and LDR2._STA to XSTA</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>X1NUQQCgDZNQ</data>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Replace</key>
				<data>WFNUQQCgDZNQ</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data></data>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>FadtEnableReset</key>
			<false/>
			<key>NormalizeHeaders</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>ResetLogoStatus</key>
			<false/>
		</dict>
	</dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>DevirtualiseMmio</key>
			<false/>
			<key>DisableSingleUser</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>EnableSafeModeSlide</key>
			<false/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>ProtectCsmRegion</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>ProvideCustomSlide</key>
			<false/>
			<key>SetupVirtualMap</key>
			<true/>
			<key>ShrinkMemoryMap</key>
			<false/>
			<key>SignalAppleOS</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>complete-modeset-framebuffers</key>
				<data>AAAAAAAAAAE=</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>CgAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<integer>66</integer>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext/Contents/PlugIns/SMCBatteryManager.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext/Contents/PlugIns/SMCProcessor.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>USBInjectAll.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/USBInjectAll</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmBluetoothInjector.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmFirmwareData.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmFirmwareData</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmPatchRAM3.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmPatchRAM3</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CPUFriend</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>CPUFriendDataProvider.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>HibernationFixup.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/HibernationFixup</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooInput</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Mouse.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Mouse</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Trackpad.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Trackpad</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>MSIFanService.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/MSIFanService</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
		</array>
		<key>Emulate</key>
		<dict>
			<key>Cpuid1Data</key>
			<data></data>
			<key>Cpuid1Mask</key>
			<data></data>
		</dict>
		<key>Patch</key>
		<array>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<true/>
			<key>AppleXcpmForceBoost</key>
			<false/>
			<key>CustomSMBIOSGuid</key>
			<false/>
			<key>DisableIoMapper</key>
			<true/>
			<key>DummyPowerManagement</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>PanicNoKextDump</key>
			<false/>
			<key>PowerTimeoutKernelPanic</key>
			<false/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>XhciPortLimit</key>
			<false/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array/>
		<key>Boot</key>
		<dict>
			<key>HibernateMode</key>
			<string>Auto</string>
			<key>PickerMode</key>
			<string>Builtin</string>
			<key>HideAuxiliary</key>
			<false/>
			<key>HideSelf</key>
			<true/>
			<key>PickerAttributes</key>
			<integer>0</integer>
			<key>PollAppleHotKeys</key>
			<true/>
			<key>ShowPicker</key>
			<true/>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>Timeout</key>
			<integer>5</integer>
		</dict>
		<key>Debug</key>
		<dict>
			<key>DisableWatchDog</key>
			<false/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>DisplayLevel</key>
			<integer>0</integer>
			<key>Target</key>
			<integer>0</integer>
		</dict>
		<key>Entries</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Auxiliary</key>
				<false/>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Enabled</key>
				<false/>
				<key>Name</key>
				<string>Win10</string>
				<key>Path</key>
				<string>PciRoot(0x0)/Pci(0x1d,0x0)/Pci(0x0,0x0)/NVMe(0x1,00-00-00-00-00-00-00-00)/HD(1,GPT,EFDBD171-D14F-4FFD-B421-8A7A5939F282,0x1000,0x95000)/\EFI\Microsoft\Boot\bootmgfw.efi</string>
			</dict>
		</array>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>AllowSetDefault</key>
			<false/>
			<key>AuthRestart</key>
			<false/>
			<key>ExposeSensitiveData</key>
			<integer>6</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>Vault</key>
			<string>Optional</string>
			<key>ScanPolicy</key>
			<integer>0</integer>
		</dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Auxiliary</key>
				<false/>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>Name</key>
				<string>UEFI Shell</string>
				<key>Path</key>
				<string>Shell.efi</string>
			</dict>
		</array>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>Ag==</data>
				<key>DefaultBackgroundColor</key>
				<data>AAAAAA==</data>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>darkwake=0 gfxrst=1</string>
				<key>csr-active-config</key>
				<data>5wMAAA==</data>
				<key>nvda_drv</key>
				<data>MA==</data>
				<key>prev-lang:kbd</key>
				<data>emgtSGFuczoyNTI=</data>
			</dict>
		</dict>
		<key>Block</key>
		<dict/>
		<key>LegacyEnable</key>
		<false/>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacySchema</key>
		<dict/>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>DataHub</key>
		<dict>
			<key>ARTFrequency</key>
			<integer>0</integer>
			<key>BoardProduct</key>
			<string>Mac-B4831CEBD52A0C4C</string>
			<key>BoardRevision</key>
			<data>AQ==</data>
			<key>DevicePathsSupported</key>
			<integer>1</integer>
			<key>FSBFrequency</key>
			<integer>0</integer>
			<key>InitialTSC</key>
			<integer>0</integer>
			<key>PlatformName</key>
			<string>platform</string>
			<key>SmcBranch</key>
			<data>AAAAAAAAAAA=</data>
			<key>SmcPlatform</key>
			<data>AAAAAAAAAAA=</data>
			<key>SmcRevision</key>
			<data>ATkPAAAF</data>
			<key>StartupPowerEvents</key>
			<integer>0</integer>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
			<key>SystemSerialNumber</key>
			<string>C02VW1VTHV29</string>
			<key>SystemUUID</key>
			<string>AEA18B07-D5AA-4B00-A64E-A7E9A844A961</string>
		</dict>
		<key>Generic</key>
		<dict>
			<key>AdviseWindows</key>
			<false/>
			<key>MLB</key>
			<string>C02752306GUF1171H</string>
			<key>ROM</key>
			<string>137A34AB23E2</string>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
			<key>SystemSerialNumber</key>
			<string>C02VW1VTHV29</string>
			<key>SystemUUID</key>
			<string>AEA18B07-D5AA-4B00-A64E-A7E9A844A961</string>
		</dict>
		<key>PlatformNVRAM</key>
		<dict>
			<key>BID</key>
			<string>Mac-B4831CEBD52A0C4C</string>
			<key>FirmwareFeatures</key>
			<string>37E10FFC 00000000</string>
			<key>FirmwareFeaturesMask</key>
			<string>3FFF1FFF 00000000</string>
			<key>MLB</key>
			<string>C02752306GUF1171H</string>
			<key>ROM</key>
			<string>137A34AB23E2</string>
		</dict>
		<key>SMBIOS</key>
		<dict>
			<key>BIOSReleaseDate</key>
			<string>05/28/2019</string>
			<key>BIOSVendor</key>
			<string>Apple Inc.</string>
			<key>BIOSVersion</key>
			<string>196.0.0.0.0</string>
			<key>BoardAssetTag</key>
			<string></string>
			<key>BoardLocationInChassis</key>
			<string>Part Component</string>
			<key>BoardManufacturer</key>
			<string>Apple Inc.</string>
			<key>BoardProduct</key>
			<string>Mac-B4831CEBD52A0C4C</string>
			<key>BoardSerialNumber</key>
			<string>C02752306GUF1171H</string>
			<key>BoardType</key>
			<integer>11</integer>
			<key>BoardVersion</key>
			<string>MacBookPro14,1</string>
			<key>ChassisAssetTag</key>
			<string>MacBook-Aluminum</string>
			<key>ChassisManufacturer</key>
			<string>Apple Inc.</string>
			<key>ChassisSerialNumber</key>
			<string>C02VW1VTHV29</string>
			<key>ChassisType</key>
			<integer>9</integer>
			<key>ChassisVersion</key>
			<string>Mac-B4831CEBD52A0C4C</string>
			<key>FirmwareFeatures</key>
			<string>37E10FFC 00000000</string>
			<key>FirmwareFeaturesMask</key>
			<string>3FFF1FFF 00000000</string>
			<key>MemoryFormFactor</key>
			<integer>9</integer>
			<key>Mobile</key>
			<true/>
			<key>PlatformFeature</key>
			<integer>26</integer>
			<key>ProcessorType</key>
			<integer>0</integer>
			<key>SmcVersion</key>
			<data>AAAAAAAAAAAAAAAAAAAAAA==</data>
			<key>SystemFamily</key>
			<string>MacBook Pro</string>
			<key>SystemManufacturer</key>
			<string>Apple Inc.</string>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
			<key>SystemSKUNumber</key>
			<string>Mac-B4831CEBD52A0C4C</string>
			<key>SystemSerialNumber</key>
			<string>C02VW1VTHV29</string>
			<key>SystemUUID</key>
			<string>AEA18B07-D5AA-4B00-A64E-A7E9A844A961</string>
			<key>SystemVersion</key>
			<string>1.1</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Auto</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>HfsPlus.efi</string>
			<string>ApfsDriverLoader.efi</string>
			<string>FwRuntimeServices.efi</string>
		</array>
		<key>Input</key>
		<dict>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySupport</key>
			<true/>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>KeySwap</key>
			<false/>
			<key>PointerSupport</key>
			<false/>
			<key>PointerSupportMode</key>
			<string></string>
			<key>TimerResolution</key>
			<integer>50000</integer>
		</dict>
		<key>Output</key>
		<dict>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
			<key>ConsoleMode</key>
			<string></string>
			<key>Resolution</key>
			<string>Max</string>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>DirectGopRendering</key>
			<false/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
			<key>SanitiseClearScreen</key>
			<false/>
		</dict>
		<key>Protocols</key>
		<dict>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
			<key>AppleSmcIo</key>
			<true/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>DataHub</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>HashServices</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>IgnoreInvalidFlexRatio</key>
			<true/>
			<key>ReleaseUsbOwnership</key>
			<false/>
			<key>RequestBootVarFallback</key>
			<false/>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>UnblockFsConnect</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
